.sky{
  height: 300px;
  background: skyblue;
}
.grass {
  height: 150px;
  background: #81c784;
}
.cloud {
  position: absolute;
}
.cloud:nth-child(1) {
  width: 200px;
  top: 220px;
  opacity: 0.5;
  animation: wind 50s linear infinite reverse;
}
.cloud:nth-child(2) {
  width: 300px;
  top: 100px;
  animation: wind 20s linear infinite reverse;
}
@keyframes wind {
  from {left: -300px}
  to {left: 100%}
}

.road {
  position: relative;
  height: 300px;
  background: dimgrey;
  box-sizing: border-box;
  border-top: 2px solid grey;
  border-bottom: 2px solid grey;
  width: 100%;
}

.one-lane {
  height: 200px;
}

.one-lane .lines {
  top: 85%;
}
  
.lines {
  position: relative;
  box-sizing: border-box;
  border: 5px dashed #fff;
  height: 0px;
  width: 100%;
  top: 45%;
}

.kart {
  position: absolute;
  width: 120px;
  animation-duration: 5s;
  animation-delay: 1s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
}

.one-lane .kart {
  top: 30px;
}

.mario {
  left: 0;
  top: 0;
  
  animation-name: drive; 
  animation-duration: 3s;
}

.luigi {
  left: 0;
  top: 150px;
  
  animation-name: drive; 
  animation-duration: 5s;
}

@keyframes drive {
  from { left: 0;}
  to { left: calc(100% - 120px);}
}

.mario2 {
  animation-name: crash;
}

.luigi2 {
  animation-name: crash2;
}

@keyframes crash {            
  0%{
    left:0;
  }
  50%{
    left: calc(50% - 60px + 5px);
    transform: rotate(0deg);
  }
  75%{
    left: calc(25% - 30px);
    transform: rotate(-15deg);
  }
  100%{
    left:0;
    transform: rotate(0deg);
  }
}

@keyframes crash2 {               
  0%{
    left: calc(100% - 120px);
  }
  50%{
    left: calc(50% + 60px - 5px);
    transform: rotate(0deg);
  }
  75%{
    left: calc(75% - 180px);
    transform: rotate(15deg);
  }
  100%{
    left: calc(100% - 120px);
    transform: rotate(0deg);
  }
}